
.form-container {
  width: 380px;
  margin: 80px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-title {
  text-align: center;
  color: #1f059f;
  margin-bottom: 20px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border: 1.5px solid #5b5454;
  border-radius: 6px;
}

input:focus {
  border-color: #19067b;
  outline: none;
}

.btn {
  padding: 10px;
  border: none;
  background: #250a91;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 13px;
}

.switch-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}